-subdirs = (files && !files.empty?)
%li
  %img{'src' => "/images/#{(subdirs ? 'folder.png' : 'page.png')}"}
  =dir
  =link_to('<img src="/images/edit.png" alt="Edit"/>', url_for(:file => parent, :action => 'edit'))
  =link_to('<img src="/images/page_white_text.png" alt="View Raw"/>', url_for(:file => parent, :action => 'view')) unless subdirs
  =link_to('<img src="/images/git.gif" alt="On Github"/>', "#{@gem.homepage}/blob/master/#{parent}") if @gem.on_github?
  =clippy(File.join(@gem.full_gem_path, parent))
  -if subdirs
    %ul
      -files.each do |dir, files|
        =haml(:file_tree, :locals => {:dir => dir, :files => files, :parent => File.join(parent, dir)}, :layout => false)