!red = #BA2818
!light_red = #EB9281
!light_grey = #CCCCCC

body
  :font-family 'Franklin Gothic', 'Franklin Gothic Medium', Helvetica, sans-serif
  :background #FFFFFF
  
a:link
  :color = !red
  :text-decoration none
a:visited
  :color = !light_red
a:hover
  :text-decoration underline