#gems
  -@gems.in_groups_of((@gems.length + 1)/ 2).each do |gems|
    .column
      -gems.compact.each do |gem_name, specs|
        .gem
          %h4=link_to(gem_name, "/gems/#{gem_name}")
          .versions
            %span 
              =specs.collect {|spec| link_to(spec.version, "/gems/#{gem_name}/#{spec.version}") }.join(', ')
  .clear