%h2 
  -if @search 
    Gems matching
    %em=@search 
    %span.num="(#{@gems.length})"
  -else
    Installed Gems
    %span.num="(#{@gems.total_entries})"
  %span.view_options
    View as
    =(@show_as == 'columns') ? '<strong>Columns</strong>' : link_to('Columns', {'as' => 'columns'})
    =' / '
    =(@show_as == 'table') ? '<strong>Table</strong>' : link_to('Table', {'as' => 'table'})
    | 
    =link_to('Summaries', {'summaries' => 'false'})

=will_paginate(@gems)