%html{:xmlns=> "http://www.w3.org/1999/xhtml", 'xml:lang' => "en", :lang => "en"}
  %head
    %meta{'http-equiv' => "Content-Type", 'content' => "text/html; charset=utf-8"}
    %title Gembox
    %link{'href' => '/stylesheets/gembox.css', 'rel' => 'stylesheet', 'type' => 'text/css', 'media' => 'screen'}
    -['jquery', 'jquery.ui', 'jquery.metadata', 'jquery.form', 'base', 'gembox'].each do |jslib|
      %script{'type' => 'text/javascript', 'src' => "/javascripts/#{jslib}.js"}
  %body
    #container
      #header
        .contained
          %img{:src => '/images/rubygems-125x125t.png', :alt => 'Rubygems logo', :id => 'logo'}
          %h1=link_to('Gembox', '/')
      #nav
        .contained
          .search
            %form{:method => 'get', :action => '/gems'}
              %input{:type => 'text', :name => 'search', :value => @search, :class => 'search_field', :tabindex => 1}
              %input{:type => 'submit', :value => 'Search'}
      #stats
        .contained
          %p
            You have
            =@stats[:num_versions]
            versions of
            =@stats[:num_gems]
            gems.
            Your newest gem is
            =link_to_gem(@stats[:newest_gem])
            from
            =ts(@stats[:newest_gem].date)
        
      #main.contained
        =yield
      #footer
        %p.copyright 
          Gembox, developed by 
          =link_to 'Quirkey.', 'http://code.quirkey.com'
          Powered by
          =link_to 'Sinatra.', 'http://sinatrarb.com'
          Running in 
          = @environment
          mode.
        %p.copyright 
          Hey! I'm 
          =link_to 'open-source!', 'http://github.com/quirkey/gembox'

      :erb
        <script type="text/javascript" charset="utf-8">
          jQuery('body').data('sinatra-env', '<%= options.environment %>');
        </script>
