%html{:xmlns=> "http://www.w3.org/1999/xhtml", 'xml:lang' => "en", :lang => "en"}
  %head
    %meta{'http-equiv' => "Content-Type", 'content' => "text/html; charset=utf-8"}
    %title Gembox
    %link{'href' => '/stylesheets/gembox.css', 'rel' => 'stylesheet', 'type' => 'text/css', 'media' => 'screen'}
    -['jquery', 'jquery.ui', 'jquery.metadata', 'jquery.form', 'base', 'gembox'].each do |jslib|
      %script{'type' => 'text/javascript', 'src' => "/javascripts/#{jslib}.js"}
  %body
    #container
      #header
        .contained
          %img{:src => '/images/rubygems-125x125t.png', :alt => 'Rubygems logo', :id => 'logo'}
          %h1 Gembox
      #nav
        .contained
          .stats
            %p
              You have
              =@stats[:num_versions]
              versions of
              =@stats[:num_gems]
              gems.
            %p
              Your oldest gem is
              =@stats[:oldest_gem].name
              from
              =@stats[:oldest_gem].date
            
          .search
            %form{:method => 'get', :action => '/gems'}
              %input{:type => 'text', :name => 'search'}
              %input{:type => 'submit', :value => 'Search'}
          .view_options
            View as
            =link_to('Columns', {:as => 'columns'})
            =' / '
            =link_to('Table', {:as => 'table'})
      #main.contained
        =yield
      #footer
        %p.copyright 
          Gembox, developed by 
          =link_to 'Quirkey.', 'http://code.quirkey.com'
          Powered by
          =link_to 'Sinatra.', 'http://sinatrrb.com'
        %p.copyright 
          Hey! I'm 
          =link_to 'open-source!', 'http://github.com/quirkey/gembox'